<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<h1>Hola mundo</h1>
<h2>Componente de carga</h2>
<p>se va a probar</p>

<div class="container">
    <div class="uploads">

        <h2>aqui la prueba</h2>

        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>
        <uploadShow></uploadShow>



    </div>
</div>